<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <header>
        <a href="/home" class="logo">Fitness World</a>
        <nav>
            <ul class="navibar">D
                <li><a href="{{'home'}}">Home</a></li>
                <li><a href="{{'about'}}">About Us</a></li>
                <li><a href="{{'member'}}">Membership</a></li>
            </ul>
        </nav>
    </header>
    <section class="content about">
        <div class="box">
            <h2>About Us</h2>
            <p>We are dedicated to helping you achieve your fitness goals. Our team of professional trainers and nutritionists is here to support you every step of the way. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nisi praesentium. Pariatur ullam saepe explicabo, blanditiis quasi veniam? Dolores error quis magni libero! Assumenda architecto voluptates saepe iure? Ducimus, eius.</p>
            <a href="{{'member'}}" class="btn">membership</a>
        </div>
    </section>

    
</body>
</html>