<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness World</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <header>
        <a href="/home" class="logo">Fitness World</a>
        <nav>
            <ul class="navibar">
                <li><a href="{{'home'}}">Home</a></li>
                <li><a href="{{'about'}}">About Us</a></li>
                <li><a href="{{'member'}}">Membership</a></li>
            </ul>
        </nav>
    </header>

    <section class="content home">
        <div class="box">
            <h2>Welcome to Fitness World</h2>
            <p>Your journey to a healthier life starts here. Join us to achieve your fitness goals with our state-of-the-art facilities and expert trainers. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum in aliquid eos doloribus ipsa corrupti nam alias maxime porro odio placeat, iure unde, tempore impedit, quasi fugit. Error, deleniti deserunt.
            Quo error dolorum perferendis debitis unde cum corrupti neque facere? Dolorum nemo, velit exercitationem esse eligendi sequi officiis, quis aut quia error praesentium mollitia in dolor earum. Id, perspiciatis itaque.
            Minus accusamus distinctio recusandae dolor atque itaque culpa, minima, commodi, praesentium quis illo animi ab vitae quo debitis ipsa rerum sequi et voluptas voluptatem. Consequuntur ipsa dolor ducimus dolorem libero?
            Dolore, odio? Dolore repellat delectus facere velit illum, aperiam molestias sint modi perferendis aliquid tempore harum dolor fugit eligendi animi iste ipsa, laudantium alias libero nulla impedit cum. Quidem, expedita.
            Repudiandae eum explicabo nesciunt quia. Nam esse, culpa perspiciatis aspernatur ipsa eius obcaecati aperiam vel architecto suscipit recusandae consequatur facere ea, nemo accusamus nostrum! Maxime ab beatae rem sequi mollitia?</p>
            <a href="{{about}}" class="btn">Learn More</a>
        </div>
    </section>

    
</body>
</html>